
@{
    ViewBag.Title = "MapaEmpresas";
    Layout = "~/Views/Layout/_Principal.cshtml";
    ViewBag.ActiveMenu = "mapaempresas";
    ViewBag.ActiveMenuRoot = "empresas";
}

@section css{

    <link href="~/assets/plugins/nvd3/build/nv.d3.min.css" rel="stylesheet" type="text/css" />

}

@section script{

<script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
<script src="~/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>


<script src="~/assets/plugins/d3/d3.min.js"></script>
<script src="~/assets/plugins/nvd3/build/nv.d3.min.js"></script>
<script src="~/assets/pages/jquery.nvd3.init.js"></script>



<script src="~/assets/js/jquery.core.js"></script>
<script src="~/assets/js/jquery.app.js"></script>

<!-- Chart JS -->
<script src="~/assets/plugins/Chart.js/Chart.min.js"></script>


<script src="~/assets/js.app/empresas.js"></script>


}

<div class="container">


    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">@Html.Raw(ViewBag.Empresa.NombreEmpresa)</h4>
            <ol class="breadcrumb">
                <li><a href="#">Portal de Informacion</a></li>
                <li><a href="#">Mapa Empresa</a></li>
                <li class="active">@Html.Raw(ViewBag.Empresa.NombreEmpresa)</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="text-dark header-title m-t-0 m-b-30">Ciclo de Vida</h4>

                <div class="widget-chart text-center">
                    <div id="grafCicloVida">
                        <svg style="height: 350px; width: 100%;"></svg>
                    </div>

                    <ul class="list-inline m-t-15">
                        <li>
                            <h5 class="text-muted m-t-20">Adulto Mayor</h5>
                            <h4 class="m-b-0" id="CVAdultoMayor">1000</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">Adultos</h5>
                            <h4 class="m-b-0" id="CVAdultos">523</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">Desarrollo</h5>
                            <h4 class="m-b-0" id="CVDesarrollo">965</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">Jovenes</h5>
                            <h4 class="m-b-0" id="CVJovenes">965</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">Madurez</h5>
                            <h4 class="m-b-0" id="CVMadurez">965</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="text-dark header-title m-t-0 m-b-30">Nivel Socioeconomico</h4>

                <div class="widget-chart text-center">
                    <div id="grafNSE">
                        <svg style="height: 350px; width: 100%;"></svg>
                    </div>

                    <ul class="list-inline m-t-15">
                        <li>
                            <h5 class="text-muted m-t-20">ABC1</h5>
                            <h4 class="m-b-0" id="NSEABC1">1000</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">C2</h5>
                            <h4 class="m-b-0" id="NSEC2">523</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">C3</h5>
                            <h4 class="m-b-0" id="NSEC3">965</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">D</h5>
                            <h4 class="m-b-0" id="NSED">965</h4>
                        </li>
                        <li>
                            <h5 class="text-muted m-t-20">E</h5>
                            <h4 class="m-b-0" id="NSEE">965</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>




        <input type="hidden" value="@Html.Raw(ViewBag.Empresa.Id)" id="IdEmpresa" />

    </div>







