
@{
    ViewBag.Title = "MapaEmpresas";
        Layout = "~/Views/Layout/_Principal2_Oper.cshtml";
}

@section script{
<script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/assets/plugins/datatables/formatted-numbers.js"></script>

<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var udmapa = {}
            if (JSON.parse(localStorage.getItem('userdata')) != null) {
                udmapa = JSON.parse(localStorage.getItem('userdata'));
            }

            $.SecGetJSON(getReportalApiHost() + "api/Empresa", function (data) {
                // $("#idfechaproceso").text(data.Fecha_ProcesoEmpresa);
                $.each(data, function (i, obj) {
                    if (i == 1) {
                        $("#idfechaproceso").html(obj.Fecha_ProcesoEmpresa);
                    }
                })
            });


            $('#datatable').dataTable({
                ajax: {
                    url: "http://localhost:8080/api/Empresa",
                    dataSrc: '',
                    "Token": udmapa.token,
                    "TokenExpiry": "900",
                    "Access-Control-Expose-Headers": "Token,TokenExpiry"
                },
                dom: 'Bfrtip',
                buttons: [
               'excelHtml5'
                ],
                "bSort": false,
                aaSorting: [[]],
                order: [],
                columns: [
                    { data: "Rut_DV" },
                    {

                        data: "NombreEmpresa",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='/DirectorioReportal/Empresas/DetalleMapaEmpresa/" + oData.Id + "/'>" + oData.NombreEmpresa + "</a>");
                        }
                    },
                    { data: "HoldingEmpresa" },
                    { data: "TipoEntidadEmpresa" },
                    { data: "ClasificacionComercial" },
                    { data: "TotalAfiliados" },
                    { data: "Creditos_Vigentes" },
                    { data: "penetracion" },
                    { data: "Credito_Saldo_Vigente" },
                    { data: "Credito_Mes" },
                    { data: "Credito_Mes_Saldo" },

                ],
            });

            //a.dt-button.buttons-excel.buttons-html5

            $(".dt-button").addClass("btn btn-success waves-effect waves-light btn-sm");
            //console.log($(".dt-button"));
        });
    </script>
}
@section css{
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}
<div class="boxed">
    <div class="col-sm-12" align="right">
        <b>Actualización:</b><b id="idfechaproceso">
        </b>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Listado de Empresa</h4>
            <ol class="breadcrumb">
                <li><a href="/Reportal">Portal de Información</a></li>
                <li><a>Mapa Empresa</a></li>
            </ol>
        </div>


    </div>
    <div class="row">
        <div class="panel col-lg-12">
            <div class="table-responsive">

                <table id="datatable" class="table table-striped" style="margin: 0px auto; font-size: 11px;">
                    <thead>
                        <tr>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Rut</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Nombre</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Holding </th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Tipo Entidad</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Clasif. Comercial</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">N° Afiliados</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">N° Afiliados Credito</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">% Afiliados Credito</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Saldo Vigente MM$</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">N° Credito Mes</th>
                            <th style="text-align:center; background: #FFFFFF none repeat scroll 0 0; color:#000000;">Vta Credito Mes MM$</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- container -->