
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>GeneraPdf</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
</head>
<body>
   @Html.Raw(ViewBag.contenido_pdf)
</body>
</html>
