
@{
    ViewBag.Title = "Colocacion";
    Layout = "~/Views/Layout/_Principal.cshtml";
    ViewBag.ActiveMenu = "colocacion";
    ViewBag.ActiveMenuRoot = "colocaciones";
}

@section css {

    <link href="~/assets/plugins/nvd3/build/nv.d3.min.css" rel="stylesheet" type="text/css" />

}

@section script{


    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>


    <script src="~/assets/plugins/d3/d3.min.js"></script>
    <script src="~/assets/plugins/nvd3/build/nv.d3.min.js"></script>
    <script src="~/assets/pages/jquery.nvd3.init.js"></script>



    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <!-- Chart JS -->
    <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>


    <script src="~/assets/js.app/campanias.js"></script>

}
<div class="container">
    <h1>Colocaciones</h1>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Listado de Empresa</h4>
            <ol class="breadcrumb">
                <li><a href="/Reportal">Portal de Información</a></li>
                <li><a>Mapa Empresa</a></li>
            </ol>
        </div>


    </div>
    <div class="row">
        <div class="card-box table-responsive">
        </div>
    </div>
