
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="insidehead">
    <link rel="shortcut icon" href="/Reportal/assets/images/favicon.png">
    <title>Login | MI - MCM Interactive Learning</title>
    <link href="/Reportal/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Reportal/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/Reportal/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/Reportal/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/Reportal/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/Reportal/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="assets/js/modernizr.min.js"></script>

</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class=" card-box">
            <div class="panel-heading">
                <h3 class="text-center">
                    <img src="/Reportal/assets/images/brand/laaraucana.jpg" title="Logo La Araucana C.C.A.F." style="width:85%;" />
                    <br>
                    <strong class="text-custom">Platforma de Reportes</strong>
                </h3>
                <h6 style="text-align:center;">Subgerencia de Planificación y Control de Gestión</h6>
            </div>

            <div class="panel-body">
                <div id="Notify"></div>
                <form class="form-horizontal m-t-20" action="#" method="post">

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input name="user" id="user" class="form-control" type="text" required="" placeholder="Rut">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input name="password" id="pass" class="form-control" type="password" required="" placeholder="Contraseña">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup">
                                    Recordar Credenciales
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button name="login" value="login" id="send_request" class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">Ingresar</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-12">
                            <a href="#" class="text-dark"><i class="fa fa-lock m-r-5"></i> Recuperar Contraseña</a>
                        </div>
                    </div>

                </form>
                <script>
                window.onload = function() {
                    document.getElementById('send_request').onclick = function()
                    {
                        var user, pass, result;
                        user = document.getElementById('user').value;
                        pass = document.getElementById('pass').value;

                        if(user == '' && pass == ''){
                            result = '<div class="alert alert-danger alert-dismissable">';
                            result +='<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>';
                            result += '<strong>OOPS!!!</strong> Not allowed to enter with empty fields on the form. Please enter your user and password to enter the website';
                            result += '</div>';
                            document.getElementById('Notify').innerHTML = result;
                        }
                        else if(user == ''){
                            result = '<div class="alert alert-danger alert-dismissable">';
                            result +='<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>';
                            result += '<strong>OOPS!!!</strong> Not allowed to enter the user empty field on the form. Please enter your user to enter the website';
                            result += '</div>';
                            document.getElementById('Notify').innerHTML = result;
                        }
                        else{
                            result = '<div class="alert alert-danger alert-dismissable">';
                            result +='<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>';
                            result += '<strong>OOPS!!!</strong> Not allowed to enter the password empty field on the form. Please enter your password to enter the website';
                            result += '</div>';
                            document.getElementById('Notify').innerHTML = result;
                        }



                    }
                }
                </script>
            </div>
        </div>


    </div>



    <script>
            var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="/Reportal/assets/js/jquery.min.js"></script>
    <script src="/Reportal/assets/js/bootstrap.min.js"></script>
    <script src="/Reportal/assets/js/detect.js"></script>
    <script src="/Reportal/assets/js/fastclick.js"></script>
    <script src="/Reportal/assets/js/jquery.slimscroll.js"></script>
    <script src="/Reportal/assets/js/jquery.blockUI.js"></script>
    <script src="/Reportal/assets/js/waves.js"></script>
    <script src="/Reportal/assets/js/wow.min.js"></script>
    <script src="/Reportal/assets/js/jquery.nicescroll.js"></script>
    <script src="/Reportal/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/Reportal/assets/plugins/notifyjs/dist/notify.min.js"></script>
    <script src="/Reportal/assets/plugins/notifications/notify-metro.js"></script>
    <script src="/Reportal/assets/js/jquery.core.js"></script>
    <script src="/Reportal/assets/js/jquery.app.js"></script>

</body>
</html>