
@{
    ViewBag.Title = "Presupuesto - La Araucana";
    Layout = "~/Views/Layout/_Principal2_Oper.cshtml";
}
@section script{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Additional files for the Highslide popup effect -->
    <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
    <script src="~/getstart/plugins/gauge-js/gauge.min.js"></script>
    <script type="text/javascript">
        Number.prototype.toMoney = function (decimals, decimal_sep, thousands_sep) {
            var n = this,
            c = isNaN(decimals) ? 0 : Math.abs(decimals), //if decimal is zero we must take it, it means user does not want to show any decimal
            d = decimal_sep || ',', //if no decimal separator is passed we use the dot as default decimal separator (we MUST use a decimal separator)

            /*
            according to [http://stackoverflow.com/questions/411352/how-best-to-determine-if-an-argument-is-not-sent-to-the-javascript-function]
            the fastest way to check for not defined parameter is to use typeof value === 'undefined'
            rather than doing value === undefined.
            */
            t = (typeof thousands_sep === 'undefined') ? '.' : thousands_sep, //if you don't want to use a thousands separator you can pass empty string as thousands_sep value

            sign = (n < 0) ? '-' : '',

            //extracting the absolute value of the integer part of the number and converting to string
            i = parseInt(n = Math.abs(n).toFixed(c)) + '',

            j = ((j = i.length) > 3) ? j % 3 : 0;
            var retorno = sign + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');

            return retorno;
        }
        $(function () {
            //grafico neeto
            $.getJSON('http://localhost:8080/api/CreditoPresupuesto/', function (data) {


                var diasNeto = new Array();
                var realNeto = new Array();
                var pptoNeto = new Array();


                $.each(data.EncabezadoPpto, function (i, e) {
                    diasNeto[i] = e.Mes;
                });

                $.each(data.RealPpto, function (i, e) {
                    realNeto[i] = e.PptoNeto;
                });

                $.each(data.PresupuestoPpto, function (i, e) {
                    pptoNeto[i] = e.PptoNeto;
                });


                $('#Lineal').highcharts({
                    colors: ['#42a5f5', '#8bc34a'],
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '',
                        x: -20
                    },
                    xAxis: {
                        categories: diasNeto
                    },
                    yAxis: [{ // Primary yAxis
                        labels: {
                            formatter: function () {
                                return this.value.toMoney();
                            },
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: '',
                            formatter: function () {
                                return this.value.toMoney();
                            },
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    }],

                    credits: { enabled: false },
                    exporting: { enabled: false },
                    legend: {
                        layout: 'horizontal',
                        align: 'left',
                        verticalAlign: 'top',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Real',
                        data: realNeto,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                        tooltip: {
                            formatter: function () {
                                return this.value.toMoney();
                            },
                            valueSuffix: ' MM$'
                        }
                    }, {
                        name: 'Presupuesto',
                        data: pptoNeto,//, data[1].Noviembre_Bruto, data[1].Diciembre_Bruto]
                        tooltip: {
                            valueSuffix: 'MM$'
                        }
                    }]
                });
            });
            // grafico bruto
            $.getJSON('http://localhost:8080/api/CreditoPresupuesto/', function (data) {


                var diasBruto = new Array();
                var realBruto = new Array();
                var pptoBruto = new Array();


                $.each(data.EncabezadoPpto, function (i, e) {
                    diasBruto[i] = e.Mes;
                });

                $.each(data.RealPpto, function (i, e) {
                    realBruto[i] = e.PptoBruto;
                });

                $.each(data.PresupuestoPpto, function (i, e) {
                    pptoBruto[i] = e.PptoBruto;
                });


                $('#LinealBruto').highcharts({
                    colors: ['#42a5f5', '#8bc34a'],
                    title: {
                        text: '',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '',
                        x: -20
                    },
                    xAxis: {
                        categories: diasBruto
                    },
                    yAxis: [{ // Primary yAxis
                        labels: {
                            formatter: function () {
                                return this.value.toMoney();
                            },
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: '',
                            formatter: function () {
                                return this.value.toMoney();
                            },
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    }],

                    credits: { enabled: false },
                    exporting: { enabled: false },
                    legend: {
                        layout: 'horizontal',
                        align: 'left',
                        verticalAlign: 'top',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Real',
                        data: realBruto,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                        tooltip: {
                            formatter: function () {
                                return this.value.toMoney();
                            },
                            valueSuffix: 'MM$'
                        }
                    }, {
                        name: 'Presupuesto',
                        data: pptoBruto,//, data[1].Noviembre_Bruto, data[1].Diciembre_Bruto]
                        tooltip: {
                            valueSuffix: 'MM$'
                        }
                    }]
                });
            });
            // tabla Neto
            $.getJSON("http://localhost:8080/api/CreditoPresupuesto", function (respoonse) {

                //console.log(respoonse);

                $("#headPresupuestoNeto").append($("<tr class=\"primero\">"));
                $("#headPresupuestoNeto > tr.primero").append($("<th>").attr("rowspan", "1").html("").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.EncabezadoPpto, function (i, e) {
                    $("#headPresupuestoNeto > tr.primero").append($("<th>").attr("colspan", "1").html(e.Mes).css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                });

                $("#headPresupuestoNeto").append($("<tr class=\"segundo\">"));
                $.each(respoonse.EncabezadoPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.segundo").append($("<th>").html("Tasa").css("text-align", "center").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                    //  $("#bodyFinanciamientoSpread > tr.segundo").append($("<th>").html("Spred").css("text-align", "center").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                });

                //
                $("#bodyPresupuestoNeto").append($("<tr class=\"Presupuesto\">"));
                $("#bodyPresupuestoNeto > tr.Presupuesto").append($("<th>").html("Presupuesto").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.PresupuestoPpto, function (i, e) {
                    // $("#bodyFinanciamientoSpread > tr.trabajador").append($("<td>").html(e.Tasa.toMoney(2)));
                    $("#bodyPresupuestoNeto > tr.Presupuesto").append($("<td>").html(e.PptoNeto.toMoney()));
                });

                $("#bodyPresupuestoNeto").append($("<tr class=\"Real\">"));
                $("#bodyPresupuestoNeto > tr.Real").append($("<th>").html("Real").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.RealPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.pensionado").append($("<td>").html(e.Tasa.toMoney(2)));
                    $("#bodyPresupuestoNeto > tr.Real").append($("<td>").html(e.PptoNeto.toMoney()));
                });

                $("#bodyPresupuestoNeto").append($("<tr class=\"GAP\">"));
                $("#bodyPresupuestoNeto > tr.GAP").append($("<th>").html("GAP").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.GapPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.total").append($("<td>").html(e.Tasa.toMoney(2)).css("font-weight", "bold"));
                    $("#bodyPresupuestoNeto > tr.GAP").append($("<td>").html(e.PptoNeto.toMoney()));
                });
                $("#bodyPresupuestoNeto").append($("<tr class=\"Cumplimiento\">"));
                $("#bodyPresupuestoNeto > tr.Cumplimiento").append($("<th>").html("Cumplimiento").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF").css("font-weight", "bold"));
                $.each(respoonse.CumplimientoPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.total").append($("<td>").html(e.Tasa.toMoney(2)).css("font-weight", "bold"));
                    $("#bodyPresupuestoNeto > tr.Cumplimiento").append($("<td>").html(e.PptoNeto.toMoney() + '%').css("font-weight", "bold"));
                });



            });
            $.getJSON("http://localhost:8080/api/FechaActualizacion/2/", function (respoonse) {
                $("#Leyend_FechaActualizacion").html(respoonse.ActualizacionLeyenda);
            });
            // tabla Bruto
            $.getJSON("http://localhost:8080/api/CreditoPresupuesto", function (respoonse) {

                //console.log(respoonse);

                $("#headPresupuestoBruto").append($("<tr class=\"primero\">"));
                $("#headPresupuestoBruto > tr.primero").append($("<th>").attr("rowspan", "1").html("").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.EncabezadoPpto, function (i, e) {
                    $("#headPresupuestoBruto > tr.primero").append($("<th>").attr("colspan", "1").html(e.Mes).css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                });

                $("#headPresupuestoBruto").append($("<tr class=\"segundo\">"));
                $.each(respoonse.EncabezadoPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.segundo").append($("<th>").html("Tasa").css("text-align", "center").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                    //  $("#bodyFinanciamientoSpread > tr.segundo").append($("<th>").html("Spred").css("text-align", "center").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                });

                //
                $("#bodyPresupuestoBruto").append($("<tr class=\"Presupuesto\">"));
                $("#bodyPresupuestoBruto > tr.Presupuesto").append($("<th>").html("Presupuesto").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.PresupuestoPpto, function (i, e) {
                    // $("#bodyFinanciamientoSpread > tr.trabajador").append($("<td>").html(e.Tasa.toMoney(2)));
                    $("#bodyPresupuestoBruto > tr.Presupuesto").append($("<td>").html(e.PptoBruto.toMoney()));
                });

                $("#bodyPresupuestoBruto").append($("<tr class=\"Real\">"));
                $("#bodyPresupuestoBruto > tr.Real").append($("<th>").html("Real").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.RealPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.pensionado").append($("<td>").html(e.Tasa.toMoney(2)));
                    $("#bodyPresupuestoBruto > tr.Real").append($("<td>").html(e.PptoBruto.toMoney()));
                });

                $("#bodyPresupuestoBruto").append($("<tr class=\"GAP\">"));
                $("#bodyPresupuestoBruto > tr.GAP").append($("<th>").html("GAP").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF"));
                $.each(respoonse.GapPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.total").append($("<td>").html(e.Tasa.toMoney(2)).css("font-weight", "bold"));
                    $("#bodyPresupuestoBruto > tr.GAP").append($("<td>").html(e.PptoBruto.toMoney()));
                });
                $("#bodyPresupuestoBruto").append($("<tr class=\"Cumplimiento\">"));
                $("#bodyPresupuestoBruto > tr.Cumplimiento").append($("<th>").html("Cumplimiento").css("text-align", "left").css("background", "#42a5f5 none repeat scroll 0 0").css("color", "#FFFFFF").css("font-weight", "bold"));
                $.each(respoonse.CumplimientoPpto, function (i, e) {
                    //$("#bodyFinanciamientoSpread > tr.total").append($("<td>").html(e.Tasa.toMoney(2)).css("font-weight", "bold"));
                    $("#bodyPresupuestoBruto > tr.Cumplimiento").append($("<td>").html(e.PptoBruto.toMoney() + '%').css("font-weight", "bold"));
                });



            });
            $.getJSON("http://localhost:8080/api/CredCumplimiento_Neto", function (data) {
                $("#cReal").html(data[1].TotalNeto.toMoney())
                $("#cPresupuesto").html(data[0].TotalNeto.toMoney())
                // GAUGE PLUGIN demo-gauge_brutas
                // =================================================================
                // Require Gauge.js
                // -----------------------------------------------------------------
                // http://bernii.github.io/gauge.js/
                // =================================================================
                var opts = {
                    lines: 10, // The number of lines to draw
                    angle: 0, // The length of each line
                    lineWidth: 0.41, // The line thickness
                    pointer: {
                        length: 0.75, // The radius of the inner circle
                        strokeWidth: 0.035, // The rotation offset
                        color: 'rgba(0, 0, 0, 0.38)' // Fill color
                    },
                    limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                    colorStart: '#42a5f5', // Colors
                    colorStop: '#42a5f5', // just experiment with them
                    strokeColor: '#8bc34a', // to see which ones work best for you
                    generateGradient: true
                };


                var target = document.getElementById('demo-gauge'); // your canvas element
                var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
                gauge.maxValue = 100; // set max gauge value
                gauge.animationSpeed = 32; // set animation speed (32 is default value)
                gauge.set(data[1].TotalNeto / data[0].TotalNeto * 100); // set actual value
                gauge.setTextField(document.getElementById("demo-gauge-text"));

            });
            $.getJSON("http://localhost:8080/api/CredCumplimiento_Bruto", function (data) {
                $("#cRealBruto").html(data[1].Total.toMoney())
                $("#PptoBruto").html(data[0].Total.toMoney())
                // http://bernii.github.io/gauge.js/
                // =================================================================
                var opts1 = {
                    lines: 10, // The number of lines to draw
                    angle: 0, // The length of each line
                    lineWidth: 0.41, // The line thickness
                    pointer: {
                        length: 0.75, // The radius of the inner circle
                        strokeWidth: 0.035, // The rotation offset
                        color: 'rgba(0, 0, 0, 0.38)' // Fill color
                    },
                    limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                    colorStart: '#42a5f5', // Colors
                    colorStop: '#42a5f5', // just experiment with them
                    strokeColor: '#8bc34a', // to see which ones work best for you
                    generateGradient: true
                };


                var target1 = document.getElementById('demo-gauge_brutas'); // your canvas element
                var gauge1 = new Gauge(target1).setOptions(opts1); // create sexy gauge!
                gauge1.maxValue = 100; // set max gauge value
                gauge1.animationSpeed = 32; // set animation speed (32 is default value)
                gauge1.set(data[1].Total / data[0].Total * 100); // set actual value
                gauge1.setTextField(document.getElementById("demo-gauge_brutas-text"));
            });
            $("#select_Colocacion").on("change", function () {

                if ($(this).val() == 13) {
                    $("#bdy_Brutas").css("display", "block");
                    $("#bdy_Netas").css("display", "none");
                } else if ($(this).val() == 14) {

                    $("#bdy_Brutas").css("display", "none");
                    $("#bdy_Netas").css("display", "block");
                }

            });
        });
    </script>
}
<div class="boxed">
    <div class="col-sm-13">
        <div class="panel">
            <span style="float:right;"><strong>*Datos actualizados al:</strong> <span id="Leyend_FechaActualizacion">Martes, 18 de Octubre de 2016</span></span>
            <div class="panel-heading">
                <h3 class="panel-title">
                    Colocaciones
                    <select id="select_Colocacion">
                        <option value="13">Brutas</option>
                        <option value="14">Netas</option>
                    </select>
                </h3>
            </div>
            <div id="bdy_Netas" class="panel-body" style="display:none;">
                <div class="col-sm-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 class="panel-title">Evolución de Colocaciones Netas MM$</h1>
                        </div>
                        <div class="panel-body">
                            <div id="Lineal" style="height:212px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cumplimiento Acumulado</h3>
                        </div>
                        <div class="panel-body">

                            <div class="panel panel-success panel-colorful">
                                <div class="pad-all text-center">

                                    <!--Gauge placeholder-->
                                    <canvas id="demo-gauge" height="107" class="canvas-responsive"></canvas>
                                    <p>
                                        <span id="demo-gauge-text" class="text-lg text-semibold"></span>% Cumplimiento
                                    </p>
                                </div>
                                <div class="pad-ver bg-trans-light">
                                    <ul class="list-unstyled row text-center">

                                        <!--Gauge info-->
                                        <li>
                                        </li>
                                        <li class="col-xs-3">
                                            <p></p>
                                        </li>
                                        <li class="col-xs-3">
                                            <b><p>Real</p></b>
                                            <span id="cReal"> </span>
                                        </li>
                                        <li class="col-xs-3">
                                            <b><p>Presupuesto</p></b>
                                            <span id="cPresupuesto"> </span>
                                        </li>
                                        <li class="col-xs-3">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 class="panel-title">Colocaciones Mensuales Netas MM$</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">


                                <table class="table table-striped" align="center" style="margin: 0px auto;  width: 100%;  font-size: 10px;">
                                    <thead id="headPresupuestoNeto"></thead>
                                    <tbody id="bodyPresupuestoNeto"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bdy_Brutas" class="panel-body">
                <div class="col-sm-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 class="panel-title">Evolución de Colocaciones Brutas MM$</h1>
                        </div>
                        <div class="panel-body">
                            <div id="LinealBruto" style="height:212px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cumplimiento Acumulado</h3>
                        </div>
                        <div class="panel-body">

                            <div class="panel panel-success panel-colorful">
                                <div class="pad-all text-center">

                                    <!--Gauge placeholder-->
                                    <canvas id="demo-gauge_brutas" height="107" class="canvas-responsive"></canvas>
                                    <p>
                                        <span id="demo-gauge_brutas-text" class="text-lg text-semibold"></span>% Cumplimiento
                                    </p>
                                </div>
                                <div class="pad-ver bg-trans-light">
                                    <ul class="list-unstyled row text-center">

                                        <!--Gauge info-->
                                        <li>

                                        </li>
                                        <li class="col-xs-3">
                                            <p></p>
                                        </li>
                                        <li class="col-xs-3">
                                            <b><p>Real</p></b>
                                            <span id="cRealBruto"></span>
                                        </li>
                                        <li class="col-xs-3">
                                            <b><p>Presupuesto</p></b>
                                            <span id="PptoBruto"></span>
                                        </li>
                                        <li class="col-xs-3">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 class="panel-title">Colocaciones Mensuales Brutas MM$</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">


                                <table class="table table-striped" align="center" style="margin: 0px auto;  width: 100%;  font-size: 10px;">
                                    <thead id="headPresupuestoBruto"></thead>
                                    <tbody id="bodyPresupuestoBruto"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


