
@{
    ViewBag.Title = "Plataforma de Reportes Institucionales - La Araucana";
    Layout = "~/Views/Layout/_Principal2_Oper.cshtml";
    ViewBag.ActiveMenu = "";
    ViewBag.ActiveMenuRoot = "";

}


@section script{


    <script src="~/getstart/js/nifty.js"></script>
    <script src="~/getstart/js/nifty.min.js"></script>


}

<div class="container">




    <div class="row">
        <div class="col-lg-12">
            <div class="card-box text-center">
                <img src="~/assets/images/imagen_reportes.png" />


                <h2>PORTAL DE INFORMACIÓN</h2>
                <p>Gerencia Planificación y Control de Gestión</p>
               @* <img src="~/assets/images/logo_araucana_ss.gif" />*@

            </div>
        </div>

    </div>










</div> <!-- container -->