
@{
    ViewBag.Title = "Plataforma de Reportes Institucionales - La Araucana";
    Layout = "~/Views/Layout/_Principal.cshtml";
    ViewBag.ActiveMenu = "";
    ViewBag.ActiveMenuRoot = "";

}


@section script{


    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    
    <script src="~/assets/plugins/flot-chart/jquery.flot.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.orderBars.min.js"></script>
    <script src="~/assets/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="~/assets/pages/jquery.flot.init.js"></script>
        
}

<div class="container">




    <div class="row">
        <div class="col-lg-12">
            <div class="card-box text-center">
                <img src="~/assets/images/imagen_reportes.png" />

                
                <h2>PORTAL DE INFORMACIÓN</h2>
                <p>Gerencia Planificación y Control de Gestión</p>
                <img src="~/assets/images/logo_araucana_ss.gif" />

            </div>
        </div>

    </div>

    


    



    

</div> <!-- container -->