
@{

    ViewBag.Title = "Seguimiento Preaprobados";
    Layout = "~/Views/Layout/_Principal2_Oper.cshtml";
}



@section script{


    <script type="text/javascript">


        $(function () {

            $("#slPeriodo").on("change", function () {


                $(".periodo-seleccionado").html($("#slPeriodo option:selected").text());

                $("#ft_preaprobadosGlobal").html("");
                $("#bdy_preaprobadosGlobal").html("");
                $("#ft_preaprobadosSegmento").html("");
                $("#bdy_preaprobadosSegmento").html("");
                $("#bdy_preaprobadosNominas").html("");
                $("#bdy_preaprobadosNominasPropen").html("");
                $("#bdy_preaprobadosCanales").html("");
                $("#bdy_preaprobadosCanalesPropen").html("");
                $("#bdy_preaprobadosExclusiones").html("");


                $.SecGetJSON(getReportalApiHost() + "api/SegPreaprobados/" + $("#slPeriodo").val(), function (respoonse) {



                    $.each(respoonse, function (i, o) {

                        if (o.PropensionCompra == "Total General") {
                            $("#ft_preaprobadosGlobal").append(
                                $("<tr>")
                                        .append($("<th>").html(o.PropensionCompra).css("text-align", "center").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.N_Oferta.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Oferta.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.N_Compra.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Neto.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        //.append($("<th>").html(o.Bruto.toMoney(1)).css("text-align", "center").css("background", "#4376b2 none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                            );
                        } else {

                            $("#bdy_preaprobadosGlobal").append(
                               $("<tr>")
                                    .append($("<td>").html(o.PropensionCompra).css("text-align", "center"))
                                    .append($("<td>").html(o.N_Oferta.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.N_Compra.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "right"))
                                    //.append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                            );
                        }
                    });

                });


                $.SecGetJSON(getReportalApiHost() + "api/SegPreaprobadosPorSegmento/" + $("#slPeriodo").val(), function (respoonse) {

                    $.each(respoonse, function (i, o) {

                        if (o.PropensionCompra == "Total General") {
                            $("#ft_preaprobadosSegmento").append(
                                $("<tr>")
                                        .append($("<th>").html(o.PropensionCompra).css("text-align", "center").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.N_Oferta.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Oferta.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.N_Compra.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Neto.toMoney()).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        //.append($("<th>").html(o.Bruto.toMoney(1)).css("text-align", "center").css("background", "#0965ae none repeat scroll 0 0").css("color", "#fff1f1"))
                                        .append($("<th>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("background", "#0965ae none repeat scroll 0 0").css("font-weight", "bold").css("color", "#fff1f1"))
                            );
                        } else {

                            if (o.PropensionCompra == "Privados" || o.PropensionCompra == "Publicos" || o.PropensionCompra == "Pensionados") {
                                $("#bdy_preaprobadosSegmento").append(
                                   $("<tr>")
                                        .append($("<td>").html(o.PropensionCompra).css("text-align", "center").css("font-weight", "bold"))
                                        .append($("<td>").html(o.N_Oferta.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                        .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                        .append($("<td>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                        .append($("<td>").html(o.N_Compra.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                        .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                        .append($("<td>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                        //.append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "center").css("font-weight", "bold"))
                                        .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                                );
                            }
                            else {
                                $("#bdy_preaprobadosSegmento").append(
                                   $("<tr>")
                                        .append($("<td>").html(o.PropensionCompra).css("text-align", "center"))
                                        .append($("<td>").html(o.N_Oferta.toMoney(1)).css("text-align", "right"))
                                        .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right"))
                                        .append($("<td>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "right"))
                                        .append($("<td>").html(o.N_Compra.toMoney(1)).css("text-align", "right"))
                                        .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right"))
                                        .append($("<td>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "right"))
                                        //.append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "center"))
                                        .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                                );
                            }
                        }
                    });

                });


                $.SecGetJSON(getReportalApiHost() + "api/SegPreaprobadosPorNominas/" + $("#slPeriodo").val(), function (respoonse) {

                    $.each(respoonse, function (i, o) {

                        $("#bdy_preaprobadosNominas").append(
                            $("<tr>")
                                .append($("<td>").html(o.Nomina).css("text-align", "left"))
                                .append($("<td>").html(o.N_Oferta.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.N_Compra.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "center"))
                                .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                        );
                    });
                });


                $.SecGetJSON(getReportalApiHost() + "api/SegPreaprobadosPorNominasProp/" + $("#slPeriodo").val(), function (respoonse) {

                    $.each(respoonse, function (i, o) {

                        $("#bdy_preaprobadosNominasPropen").append(
                            $("<tr>")
                                .append($("<td>").html(o.Nomina).css("text-align", "left"))
                                .append($("<td>").html(o.N_Alta.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto_Alta.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Alta.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                .append($("<td>").html(o.N_Media.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto_Media.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Media.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                .append($("<td>").html(o.N_Baja.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto_Baja.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Baja.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                .append($("<td>").html(o.N_Total.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto_Total.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Total.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))


                            ////.append($("<td>").html(o.WR.toMoney(1)).css("text-align", "center").css("color", "rgb(254, 86, 22)"))
                        );
                    });
                });


                $.SecGetJSON(getReportalApiHost() + "api/SegPreaprobadosPorCanales/" + $("#slPeriodo").val(), function (respoonse) {

                    $.each(respoonse, function (i, o) {

                        $("#bdy_preaprobadosCanales").append(
                            $("<tr>")
                                .append($("<td>").html(o.Canal).css("text-align", "left"))
                                .append($("<td>").html(o.N_Oferta.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Oferta_Promedio.toMoney(1)).css("text-align", "center"))
                                .append($("<td>").html(o.N_Compra.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Neto_Promedio.toMoney(1)).css("text-align", "center"))
                                //.append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                        );
                    });
                });


                $.SecGetJSON(getReportalApiHost() + "api/SegPreaprobadosPorCanalesPropension/" + $("#slPeriodo").val(), function (respoonse) {

                    $.each(respoonse, function (i, o) {

                        $("#bdy_preaprobadosCanalesPropen").append(
                            $("<tr>")
                                .append($("<td>").html(o.Nomina).css("text-align", "left"))
                                .append($("<td>").html(o.N_Alta.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Neto_Alta.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Alta.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                .append($("<td>").html(o.N_Media.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Neto_Media.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Media.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                .append($("<td>").html(o.N_Baja.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Neto_Baja.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Baja.toMoney(1)).css("text-align", "right").css("font-weight", "bold"))
                                .append($("<td>").html(o.N_Total.toMoney(1)).css("text-align", "right"))
                                //.append($("<td>").html(o.Neto_Total.toMoney(1)).css("text-align", "right"))
                                .append($("<td>").html(o.WR_Total.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))


                            ////.append($("<td>").html(o.WR.toMoney(1)).css("text-align", "center").css("color", "rgb(254, 86, 22)"))
                        );
                    });
                });


                $.SecGetJSON(getReportalApiHost() + "api/SeguimientoVentaCascada?Periodo=" + $("#slPeriodo").val(), function (respoonse) {
                    var cSegmento = 0, xSegmento = '';
                    $.each(respoonse, function (i, o) {

                        if (o.Segmento != xSegmento) {
                            cSegmento = 0;
                            $("#bdy_preaprobadosExclusiones").append(
                                $("<tr>")
                                    .append($("<td class=\"" + o.Segmento + "\">").html(o.Segmento).css("text-align", "center"))
                                    .append($("<td>").html(o.Filtro).css("text-align", "left"))
                                    .append($("<td>").html(o.N.toMoney(0)).css("text-align", "right"))
                                    .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Compran.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "right"))
                                    .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                            );
                        }
                        else {
                            cSegmento++;
                            $("#bdy_preaprobadosExclusiones").append(
                               $("<tr>")
                                   //.append($("<td class=\"" + o.Segmento + "\">").html(o.Segmento).css("text-align", "center"))
                                   .append($("<td>").html(o.Filtro).css("text-align", "left"))
                                   .append($("<td>").html(o.N.toMoney(0)).css("text-align", "right"))
                                   .append($("<td>").html(o.Oferta.toMoney(1)).css("text-align", "right"))
                                   .append($("<td>").html(o.Compran.toMoney(1)).css("text-align", "right"))
                                   .append($("<td>").html(o.Neto.toMoney(1)).css("text-align", "right"))
                                   .append($("<td>").html(o.Bruto.toMoney(1)).css("text-align", "right"))
                                   .append($("<td>").html(o.WR.toMoney(1) + "%").css("text-align", "right").css("font-weight", "bold"))
                           );
                        }

                        xSegmento = o.Segmento;
                        $("." + o.Segmento).attr("rowspan", cSegmento + 1).css("vertical-align", "middle")
                    });
                });

            });

            $.SecGetJSON(getReportalApiHost() + "api/FechaActualizacion/1/", function (respoonse) {
                $("#Leyend_FechaActualizacion").html(respoonse.ActualizacionLeyenda);
            });

            $("#slPeriodo").trigger("change");


        });

    </script>
}


@section css{

    <style type="text/css">
        .head-tabla 
        { 
            /*#ebeff2*/
            border: 2px solid #ebeff2;
        }

        .table-charlee > tbody > tr > td,
        .table-charlee > tbody > tr > th,
        .table-charlee > tfoot > tr > td,
        .table-charlee > tfoot > tr > th,
        .table-charlee > thead > tr > td,
        .table-charlee > thead > tr > th 
        {
            border-top: 1px solid #ddd;
            /*border-right: 2px solid #ffffff;*/
            line-height: 1.42857;
            padding: 3px !important;
            vertical-align: top;
            font-size: 12px;
        }

        .charlee-pintado
        {
            color:#fff1f1 !important;
            background: #1f8fe0 none repeat scroll 0 0; 
            text-align:center;
        }

        .charlee-pintado-bold
        {
            color:#fff1f1 !important;
            background: #1f8fe0 none repeat scroll 0 0; 
            text-align:center;
            font-weight:bold;
        }

        .charlee-pintado-bold-ralign
        {
            color:#fff1f1 !important;
            background: #1f8fe0 none repeat scroll 0 0; 
            text-align:right;
            font-weight:bold;
        }


    </style>

}






<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--<div id="page-title">
    <h1 class="page-header text-overflow">Seguimiento Pre-Aprobados</h1>

    <div class="searchbox" style="width: 350px !important;">
        <div class="input-group custom-search-form">
            <span style="float:right;"><strong>*Datos actualizados al:</strong> <span id="Leyend_FechaActualizacion">Martes, 18 de Octubre de 2016</span></span>
        </div>
    </div>
</div>-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--<ol class="breadcrumb">
    <li><a href="#">Reportes</a></li>
    <li><a href="#">Campañas</a></li>
    <li class="active">Seguimiento Pre-Aprobados</li>
</ol>-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->
<!--Page content-->
<!--===================================================-->
<div class="boxed">
    <div class="row">
        <div class="col-lg-12">
            <div class="well well-sm">
                Seleccione Periodo:
                <select id="slPeriodo">
                    <option value="201611" selected="selected">Noviembre 2016</option>
                    <option value="201610">Octubre 2016</option>
                    <option value="201609">Septiembre 2016</option>
                </select>


                <span style="float:right;"><strong>*Datos actualizados al:</strong> <span id="Leyend_FechaActualizacion">Martes, 18 de Octubre de 2016</span></span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">

            <!--Default Tabs (Left Aligned)-->
            <!--===================================================-->
            <div class="tab-base">
                <!--Nav Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#demo-lft-tab-1" aria-expanded="true">Universo Pre-Aprobados</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#demo-lft-tab-2" aria-expanded="false">Nóminas</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#demo-lft-tab-3" aria-expanded="false">Canales</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#exclisiones" aria-expanded="false">Exclusiones</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#another1" aria-expanded="false">Another 1</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#another2" aria-expanded="false">Another 2</a>
                    </li>
                </ul>

                <!--Tabs Content-->
                <div class="tab-content">
                    <div id="demo-lft-tab-1" class="tab-pane fade active in">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Universo Total de Pre-Aprobados</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Oferta</th>
                                                <th colspan="5" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Resultado</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Propensión Compra</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Promedio M$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Compran</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto<br /> Promedio M$</th>
                                                <!--<th style="text-align:center; background: #105481 none repeat scroll 0 0; color:#fff1f1;">Bruto MM$</th>-->
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosGlobal"></tbody>
                                        <tfoot id="ft_preaprobadosGlobal"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Pre-Aprobados por Segmento</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Oferta</th>
                                                <th colspan="5" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Resultado</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Propensión Compra</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta<br /> Promedio M$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Compran</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto <br />Promedio M$</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosSegmento"></tbody>
                                        <tfoot id="ft_preaprobadosSegmento"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="demo-lft-tab-2" class="tab-pane fade">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Acciones Comerciales Pre-aprobados e Invitación</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Oferta</th>
                                                <th colspan="5" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Resultado</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nomina</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta<br /> Promedio M$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Compran</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto <br />Promedio M$</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosNominas"></tbody>
                                        <tfoot id="ft_preaprobadosNominas"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Apertura por Propensión de Compra</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Alta</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Media</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Baja</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Totales</th>

                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nomina</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Total Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Total Neto</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Total #WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosNominasPropen"></tbody>
                                        <tfoot id="ft_preaprobadosNominasPropen"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="demo-lft-tab-3" class="tab-pane fade">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Canales</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th colspan="2" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Oferta</th>
                                                <th colspan="4" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Resultado</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Canal</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Compran</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto MM$</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosCanales"></tbody>
                                        <tfoot id="ft_preaprobadosCanales"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Apertura por Propensión de Compra</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th colspan="2" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Alta</th>
                                                <th colspan="2" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Media</th>
                                                <th colspan="2" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Baja</th>
                                                <th colspan="2" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Totales</th>

                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Canal</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Nro</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Total Nro</th>

                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Total #WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosCanalesPropen"></tbody>
                                        <tfoot id="ft_preaprobadosCanalesPropen"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="exclisiones" class="tab-pane fade">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Seguimiento exclusiones cascadas</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th colspan="3" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Oferta</th>
                                                <th colspan="5" style="text-align:center; background: #0965ae none repeat scroll 0 0; color:#fff1f1;">Resultado</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Segmento</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Filtros</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">N Exclusiones</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Oferta<br />MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Compran</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Neto<br />MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">Bruto<br />MM$</th>
                                                <th style="text-align:center; background: #1f8fe0 none repeat scroll 0 0; color:#fff1f1;">#WR</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdy_preaprobadosExclusiones"></tbody>
                                        <tfoot id="ft_preaprobadosExclusiones"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="another1" class="tab-pane fade">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Universo Pre-aprobados</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="charlee-pintado periodo-seleccionado" style="vertical-align:middle;"></th>
                                                <th colspan="2" class="charlee-pintado">Pensionado</th>
                                                <th colspan="2" class="charlee-pintado">Trabajador</th>
                                                <th colspan="2" class="charlee-pintado">Total</th>
                                            </tr>
                                            <tr>
                                                <th class="charlee-pintado">N° Afiliados</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N° Afiliados</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N° Afiliados</th>
                                                <th class="charlee-pintado">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Total</td>
                                                <td class="n_total_pensionado" style="text-align:right;">255.695</td>
                                                <td class="p_total_pensionado" style="text-align:right;">100%</td>
                                                <td class="n_total_trabajador" style="text-align:right;">810.085</td>
                                                <td class="p_total_trabajador" style="text-align:right;">100%</td>
                                                <td class="n_total_total" style="text-align:right;">810.085</td>
                                                <td class="p_total_total" style="text-align:right;">100%</td>
                                            </tr>
                                            <tr>
                                                <td>Pre-aprobados Por Riesgo</td>
                                                <td class="n_pa-riesgo_pensionado" style="text-align:right;">255.695</td>
                                                <td class="p_pa-riesgo_pensionado" style="text-align:right;">100%</td>
                                                <td class="n_pa-riesgo_trabajador" style="text-align:right;">810.085</td>
                                                <td class="p_pa-riesgo_trabajador" style="text-align:right;">100%</td>
                                                <td class="n_pa-riesgo_total" style="text-align:right;">810.085</td>
                                                <td class="p_pa-riesgo_total" style="text-align:right;">100%</td>
                                            </tr>
                                            <tr>
                                                <td class="charlee-pintado-bold">Pre-aprobados Final</td>
                                                <td class="n_pa-final_pensionado charlee-pintado-bold-ralign">255.695</td>
                                                <td class="p_pa-final_pensionado charlee-pintado-bold-ralign">100%</td>
                                                <td class="n_pa-final_trabajador charlee-pintado-bold-ralign">810.085</td>
                                                <td class="p_pa-final_trabajador charlee-pintado-bold-ralign">100%</td>
                                                <td class="n_pa-final_total charlee-pintado-bold-ralign">810.085</td>
                                                <td class="p_pa-final_total charlee-pintado-bold-ralign">100%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Universo Gestionable</h1>
                            </div>
                            <div class="panel-body">
                                <div id="tabla-1">
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="charlee-pintado" style="vertical-align:middle;">Segmento</th>
                                                <th rowspan="2" class="charlee-pintado" style="vertical-align:middle;">N° Afiliados</th>
                                                <th colspan="2" class="charlee-pintado">Email</th>
                                                <th colspan="2" class="charlee-pintado">Celular</th>
                                                <th colspan="2" class="charlee-pintado">Celular o Fijo</th>
                                                <th colspan="2" class="charlee-pintado">Email o Fonos</th>
                                            </tr>
                                            <tr>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Universo Campañado</h1>
                            </div>
                            <div class="panel-body">
                                <div id="tabla-1">
                                    <table class="table table-charlee table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="charlee-pintado" style="vertical-align:middle;">Segmento</th>
                                                <th colspan="2" class="charlee-pintado">Email</th>
                                                <th colspan="2" class="charlee-pintado">SMS</th>
                                                <th colspan="2" class="charlee-pintado">Call Center</th>
                                                <th colspan="2" class="charlee-pintado">Total Canales Virtuales</th>
                                            </tr>
                                            <tr>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                                <th class="charlee-pintado">N°</th>
                                                <th class="charlee-pintado">%</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="another2" class="tab-pane fade">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Seguimiento exclusiones cascadas</h1>
                            </div>
                            <div class="panel-body">
                                <div>
                                    Helo Another#2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Default Tabs (Left Aligned)-->
            <!--Icon Tabs (Left Aligned)-->
            <!--===================================================-->
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
