
@{
    ViewBag.Title = "Colocaciones - La Araucana";
    Layout = "~/Views/Layout/_Principal2_Oper.cshtml";
}


@section script{


    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Additional files for the Highslide popup effect -->
    <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
    <script src="~/getstart/plugins/gauge-js/gauge.min.js"></script>
    <script type="text/javascript">
        Number.prototype.toMoney = function (decimals, decimal_sep, thousands_sep) {
            var n = this,
            c = isNaN(decimals) ? 0 : Math.abs(decimals), //if decimal is zero we must take it, it means user does not want to show any decimal
            d = decimal_sep || ',', //if no decimal separator is passed we use the dot as default decimal separator (we MUST use a decimal separator)

            /*
            according to [http://stackoverflow.com/questions/411352/how-best-to-determine-if-an-argument-is-not-sent-to-the-javascript-function]
            the fastest way to check for not defined parameter is to use typeof value === 'undefined'
            rather than doing value === undefined.
            */
            t = (typeof thousands_sep === 'undefined') ? '.' : thousands_sep, //if you don't want to use a thousands separator you can pass empty string as thousands_sep value

            sign = (n < 0) ? '-' : '',

            //extracting the absolute value of the integer part of the number and converting to string
            i = parseInt(n = Math.abs(n).toFixed(c)) + '',

            j = ((j = i.length) > 3) ? j % 3 : 0;
            var retorno = sign + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');

            return retorno;
        }
        $(function () {
            $("#slPeriodo").on("change", function () {
                $("#CreditoColocAcumulada1").html("");
                $("#LinealDiaria").html("");
                $("#LinealDiariaRef").html("");
                $("#LinealDiariaPromedio").html("");
                $("#LinealDiariaPromedioRenta").html("");

                $.getJSON("http://localhost:8080/api/CreditoColocAcumulada/" + $("#slPeriodo").val(), function (respoonse) {
                    $.each(respoonse, function (i, o) {
                        $("#CreditoColocAcumulada").append(
                                $("<tr>").append($("<th>").html(o.Item).attr("scope", "row"))
                                .append($("<td>").html(o.NCred.toMoney()).css("text-align", "center"))
                                .append($("<td>").html(o.Bruto.toMoney()).css("text-align", "center"))
                                .append($("<td>").html(o.Neto.toMoney()).css("text-align", "center"))
                                .append($("<td>").html(o.indRepac.toMoney() + " %").css("text-align", "center"))
                        );
                    });
                });
                $.getJSON("http://localhost:8080/api/CredColocDiariaTable/" + $("#slPeriodo").val(), function (respoonse) {
                    $.each(respoonse, function (i, o) {
                        if (o.Descripcion == "N° Créditos") {
                            $("#CreditoColocAcumulada1").append(
                                    $("<tr>").append($("<th>").html(o.Descripcion).attr("scope", "row"))
                                    .append($("<td>").html(o.Bruta_Table.toMoney()).css("text-align", "center"))
                                    .append($("<td>").html(" ").css("text-align", "center"))

                            );
                        } else {
                            $("#CreditoColocAcumulada1").append(
                                $("<tr>").append($("<th>").html(o.Descripcion).attr("scope", "row"))
                                .append($("<td>").html(o.Bruta_Table.toMoney()).css("text-align", "center"))
                                .append($("<td>").html(o.Neta_Table.toMoney()).css("text-align", "center"))

                        );
                        }
                    });
                });
                $.getJSON("http://localhost:8080/api/CreditoColoc_Diaria/" + $("#slPeriodo").val(), function (data) {



                    var dias = new Array();
                    var bruta = new Array();
                    var neta = new Array();
                    var repac = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.DiaGraf;
                        bruta[i] = e.Bruta;
                        neta[i] = e.Neta;


                    });

                    //  console.log(dias)

                    $('#LinealDiaria').highcharts({
                        colors: ['#42a5f5', '#8bc34a'],
                        title: {
                            text: '',
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: 'M$',
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Bruta',
                            data: bruta,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                valueSuffix: ' M$'
                            }
                        }, {
                            name: 'Neta',
                            data: neta,//, data[1].Noviembre_Bruto, data[1].Diciembre_Bruto]
                            tooltip: {
                                valueSuffix: 'M$'
                            }
                        }]
                    });
                });
                $.getJSON("http://localhost:8080/api/CreditoColoc_Diaria/" + $("#slPeriodo").val(), function (data) {



                    var dias = new Array();
                    var bruta = new Array();
                    var neta = new Array();
                    var repac = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.DiaGraf;
                        repac[i] = e.indRepac;

                    });

                    //  console.log(dias)

                    $('#LinealDiariaRef').highcharts({
                        colors: ['#ba68c8'],
                        title: {
                            text: '',
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                format: '{value}',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '% Refinanciamento',

                            },

                            opposite: true,
                            tooltip: {
                                pointFormat: "{point.y:.2f}"
                            },
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Refinanciamento',
                            data: repac,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                pointFormat: 'Refinan: <b>{point.y:.2f}%</b><br/>',
                                shared: true
                                //pointFormat: "Refinan: {point.y:.2f}",
                                //valueSuffix: '%'

                            }
                        }]
                    });
                });
                $.getJSON("http://localhost:8080/api/CredColocDiariaProm/" + $("#slPeriodo").val(), function (data) {
                    var dias = new Array();
                    var bruta = new Array();
                    var neta = new Array();
                    var renta = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.DiaGraf;
                        bruta[i] = e.Bruta;
                        neta[i] = e.Neta;

                    });

                    // console.log(bruta)

                    $('#LinealDiariaPromedio').highcharts({
                        colors: ['#42a5f5', '#8bc34a'],
                        title: {
                            text: '',
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: dias
                        },

                        yAxis: [{ // Primary yAxis
                            labels: {
                                // format: '{value}',
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '$',
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],
                        //tooltip: {
                        //    valueSuffix: ''
                        //},
                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                            //backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                            // borderWidth: 0
                        },
                        series: [{
                            name: 'Bruta',
                            data: bruta,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                valueSuffix: ' $',
                                formatter: function () {
                                    return this.value.toMoney();
                                }
                            }

                        }, {
                            name: 'Neta',
                            data: neta,
                            tooltip: {
                                valueSuffix: ' $'
                            }//, data[1].Noviembre_Bruto, data[1].Diciembre_Bruto]
                        }]
                    });
                });
                $.getJSON("http://localhost:8080/api/CreditoColocDiaria_Prom/" + $("#slPeriodo").val(), function (data) {
                    var dias = new Array();
                    var renta = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.DiaGrafico;
                        renta[i] = e.VRenta;

                    });

                    // console.log(bruta)


                    $('#LinealDiariaPromedioRenta').highcharts({
                        colors: ['#ffa726'],
                        title: {
                            text: '',
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                format: '{value}',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: 'Veces Renta',

                            },

                            opposite: true,
                            tooltip: {
                                pointFormat: "{point.y:.2f}"
                            },
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Veces Renta',
                            data: renta,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                pointFormat: 'Veces Renta: <b>{point.y:.2f}</b><br/>',
                                shared: true
                                //pointFormat: "Refinan: {point.y:.2f}",
                                //valueSuffix: '%'

                            }
                        }]
                    });
                });
                $.getJSON("http://localhost:8080/api/FechaActualizacion/2/", function (respoonse) {
                    $("#Leyend_FechaActualizacion").html(respoonse.ActualizacionLeyenda);
                });
            });
            $("#slPeriodo").trigger("change");
        });
    </script>
}
<div class="tab-base">

    <!--Nav Tabs-->
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#demo-lft-tab-1">Global </a> @*<span class="badge badge-purple">27</span>*@
        </li>
        @*<li>
                <a data-toggle="tab" href="#demo-lft-tab-2">Profile</a>
            </li>
            <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">Setting</a>
            </li>*@
    </ul>

    <!--Tabs Content-->
    <div class="tab-content">
        <div id="demo-lft-tab-1" class="tab-pane fade active in">

            <div class="row">
                <div class="panel">
                    <span style="float:right; margin-left:auto;"><strong>*Datos actualizados al:</strong> <span id="Leyend_FechaActualizacion">Martes, 18 de Octubre de 2016</span></span>
                    Seleccione Periodo:
                    <select id="slPeriodo">
                        @* <option value="201611">Noviembre 2016</option>*@
                        <option value="201611">Noviembre 2016</option>
                        <option value="201610">Octubre 2016</option>
                    </select>
                    <div class="panel-body" style="display:none;">
                        <div class="table-responsive">
                            <table class="table table-striped" align="center" style="margin: 0px auto;  width: 50%;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0;">&nbsp;</th>
                                        <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">N° Crédito</th>
                                        <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Bruto M$</th>
                                        <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Neto M$</th>
                                        <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Refinanciamiento</th>
                                    </tr>
                                </thead>
                                <tbody id="CreditoColocAcumulada"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 class="panel-title">Colocaciones Diarias</h1>
                        </div>
                        <div class="panel-body">
                            <div id="LinealDiaria" style="height:212px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel">
                        <div class="panel-heading">
                            <h1 class="panel-title">Resumen Mes Colocaciones</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" style="font-size: 11px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Descripción</th>
                                            <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Bruto</th>
                                            <th style="text-align:center; background: #42a5f5 none repeat scroll 0 0; color:#FFFFFF;">Neto</th>

                                        </tr>
                                    </thead>
                                    <tbody id="CreditoColocAcumulada1"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*
                <div class="panel">
                    <div class="panel-body">
                        <div id="LinealDiariaRef" style="height:212px">
                        </div>
                    </div>
                </div>
            *@
            <div class="row">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Colocaciones Diarias Promedio</h1>
                            </div>
                            <div class="panel-body">
                                <div id="LinealDiariaPromedio" style="height:212px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">Veces Renta Diaria</h1>
                            </div>
                            <div class="panel-body">
                                <div id="LinealDiariaPromedioRenta" style="height:212px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

