<!DOCTYPE html>
<html lang="es-cl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @RenderSection("css", false)
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css' />
    <link href="~/getstart/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/getstart/css/nifty.min.css" rel="stylesheet" />
    <link href="~/getstart/css/demo/nifty-demo-icons.min.css" rel="stylesheet" />
    <link href="~/getstart/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/getstart/css/demo/nifty-demo.min.css" rel="stylesheet" />
    <link href="~/getstart/plugins/morris-js/morris.min.css" rel="stylesheet" />
    <link href="~/getstart/plugins/magic-check/css/magic-check.min.css" rel="stylesheet" />
    <link href="~/getstart/plugins/pace/pace.min.css" rel="stylesheet">

    <script src="~/getstart/js.app/Utilities.js"></script>
    <script src="~/getstart/js/jquery-2.2.4.min.js"></script>
    <script src="~/getstart/plugins/pace/pace.min.js"></script>
    <script src="~/getstart/js.app/App.Security.js"></script>
    <script src="~/getstart/js/bootstrap.min.js"></script>
    <script src="~/getstart/js/nifty.js"></script>


    <script type="text/javascript">
        var resizefunc = [];

        $(function () {
            var ud = {}
            if (JSON.parse(localStorage.getItem('userdata')) != null) {
                ud = JSON.parse(localStorage.getItem('userdata'));
                $(".username").html("Bienvenido: " + ud.name);
            }


            $(".SalidaPe").on("click", function () {
                $.SecPostJSON(getSecurityApiHost() + "api/Auth/kill").always(function () {
                    localStorage.removeItem("userdata");
                    location.href = getAplicationHost() + "Acceso";
                });
            });
        });

        
    </script>
</head>
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg navbar-fixed footer-fixed">
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        @*<img src="~/getstart/img/logo.png" alt="Nifty Logo" class="brand-icon">
                            <div class="brand-title">
                                <span class="brand-text">Nifty</span>
                            </div>*@
                    </a>
                </div>
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-top-links pull-right">
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--User dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right" aria-expanded="false">
                                <span class="pull-right">
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <i class="demo-pli-male ic-user" style="color:lightgray;"></i>
                                </span>
                                <div class="username hidden-xs" style="color:lightgray;">Info. Analitica</div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <ul class="head-list bord-btm">
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-information icon-lg icon-fw"></i> Ayuda en Línea
                                        </a>
                                    </li>
                                </ul>
                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="#" class="btn btn-primary SalidaPe">
                                        <i class="demo-pli-unlock"></i> Salir
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
                    </ul>


                </div>
            </div>
        </header>
        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div id="page-title">
                    <!--Searchbox-->
                    @*  <div class="searchbox">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..">
                                <span class="input-group-btn">
                                    <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                                </span>
                            </div>
                        </div>
                    *@
                </div>
                <div id="page-content">
                    @RenderBody()
                </div>
            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--ASIDE-->
            <!--===================================================-->
            <!--===================================================-->
            <!--END ASIDE-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">
                                    <li class="list-header">Navegación</li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hide-fixed pull-right pad-rgt">
            <footer id="footer">
                <p class="pad-lft">&#0169;  2016 © Gerencia de Planificación y Control de Gestión / División Información Analítica.</p>
            </footer>
        </div>
        @RenderSection("script", false);
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>




    </div>



</body>

</html>
