@{
    ViewBag.Title = "Directorio - La Araucana";
    Layout = "~/Views/Layout/_Principal2_Oper.cshtml";
    ViewBag.ActiveMenu = "";
    ViewBag.ActiveMenuRoot = "";

}

@section script{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- Additional files for the Highslide popup effect -->
    <script src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
    <script src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
    <script src="~/getstart/plugins/gauge-js/gauge.min.js"></script>
    <script type="text/javascript">



        $(function () {
            
          
          
         

            $.SecGetJSON(getReportalApiHost() + "api/CreditoColoc_Dashboard", function (respoonse) {
                $("#idNetoHoy").html(respoonse.Neta.toMoney());
                $("#idBrutoHoy").html(respoonse.Bruta.toMoney());
            });
            $.SecGetJSON(getReportalApiHost() + "api/CreditoColoc_DashboardAnt", function (respoonse) {
                $("#idNetoAnt").html(respoonse.Neta.toMoney());
                $("#idBrutoAnt").html(respoonse.Bruta.toMoney());
            });
            $.SecGetJSON(getReportalApiHost() + "api/CreditoColoc_DashboardVenta", function (respoonse) {
                $("#idNetoAcumulado").html(respoonse.Neta_Table.toMoney());
                $("#idBrutoAcumulado").html(respoonse.Bruta_Table.toMoney());
            });
            $.SecGetJSON(getReportalApiHost() + "api/CreditoColoc_DashboardCumplimiento", function (respoonse) {
                $("#idNetocumplimiento").html(respoonse.Neta_Table.toMoney() + "%");
                $("#idBrutocumplimiento").html(respoonse.Bruta_Table.toMoney() + "%");
                $("#progresNeta").css("width", respoonse.Neta_Table + '%')
                $("#progresNeta1").html(respoonse.Neta_Table + "%");
                $("#progresBruta").css("width", respoonse.Bruta_Table.toMoney() + '%')
                $("#progresBruta1").html(respoonse.Bruta_Table + "%");

            });
          
            $.SecGetJSON(getReportalApiHost() + "api/CreditoColoc_DashboardGrafico", function (data) {
                $("#numCredito").html(data[0].Bruta_Table.toMoney());
                $("#tMax").html(data[2].Bruta_Table.toMoney());
                $("#tMin").html(data[3].Bruta_Table.toMoney());
                $("#tProm").html(data[4].Bruta_Table.toMoney());
            });
            $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboardFinan", function (data) {
                $("#idTasaHoy").html(data.tasaPromedio.toMoney(2) + '%');
                $("#idPlazoHoy").html(data.plazoPromedio);
                $("#idSpreadHoy").html(data.sPread.toMoney(2) + '%');
            });
            $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboardFinanAnt", function (data) {
                $("#idTasaAyer").html(data.tasaPromedio.toMoney(2) + '%');
                $("#idPlazoAyer").html(data.plazoPromedio);
                $("#idSpreadAyer").html(data.sPread.toMoney(2) + '%');
            });
            $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboardFinanAcumulado", function (data) {
                $("#idTasaAcumulado").html(data.tasaPromedio.toMoney(2) + '%');
                $("#idPlazoAcumulado").html(data.plazoPromedio);
                $("#idSpreadAcumulado").html(data.sPread.toMoney(2) + '%');
            });

            
            $.SecGetJSON(getReportalApiHost() + "api/FechaActualizacion/2/", function (respoonse) {
                $("#Leyend_FechaActualizacion").html(respoonse.ActualizacionLeyenda);
            });
        
          
          

            $("#btnStats").on("click", function () {
                $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboard", function (data) {
                    var dias = new Array();
                    var Realbruta = new Array();
                    var Pptbruta = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.DiaGraf;
                        Realbruta[i] = e.RealBruta;
                        Pptbruta[i] = e.PptBruta;
                    });
                    $('#GraficoEstandar').highcharts({
                        colors: ['#00bcd4', '#FF0000'],
                        title: {
                            style: {
                                color: '#758697',
                                fontFamily: 'Open Sans',
                                fontSize: '15px'
                            },
                            text: '<b>Colocaciones Brutas M$</b>',
                            x: 10, //center
                            y: 5
                        },
                        subtitle: {
                            text: '',
                            x: -20,
                            y: 20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Real',
                            data: Realbruta,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                valueSuffix: ' M$'
                            }
                        }, {
                            name: 'Ppto',
                            data: Pptbruta,//, data[1].Noviembre_Bruto, data[1].Diciembre_Bruto]
                            tooltip: {
                                valueSuffix: 'M$'
                            }
                        }]
                    });
                });

            });
            $("#btnStats").trigger("click");
            $("#btnStats1").on("click", function () {
                $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboard", function (data) {



                    var dias = new Array();
                    var Realneta = new Array();
                    var Pptneta = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.DiaGraf;
                        Realneta[i] = e.RealNeta;
                        Pptneta[i] = e.PptNeta;
                    });
                    $('#GraficoEstandar').highcharts({
                        colors: ['#8bc34a', '#FF0000'],//FF0000
                        title: {
                            style: {
                                color: '#758697',
                                fontFamily: 'Open Sans',
                                fontSize: '15px'
                            },
                            text: '<b>Colocaciones Netas M$</b>',
                            x: 10, //center
                            y: 5
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Real',
                            data: Realneta,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                valueSuffix: ' M$'
                            }
                        }, {
                            name: 'Ppto',
                            data: Pptneta,//, data[1].Noviembre_Bruto, data[1].Diciembre_Bruto]
                            tooltip: {
                                valueSuffix: 'M$'
                            }
                        }]
                    });


                });
            });
            $("#btnStats2").on("click", function () {
                $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboardFinaGrafico", function (data) {
                    var dias = new Array();
                    var Tasa = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.diaGrafico;
                        Tasa[i] = e.tasaPromedio;
                    });
                    $('#GraficoEstandar').highcharts({
                        colors: ['#ba68c8'],
                        title: {
                            style: {
                                color: '#758697',
                                fontFamily: 'Open Sans',
                                fontSize: '15px'
                            },
                            text: '<b>Tasa Promedio</b>',
                            x: 10, //center
                            y: 5
                        },
                        subtitle: {
                            text: '',
                            x: -20,
                            y: 20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                formatter: function () {
                                    return this.value.toMoney(2);
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                formatter: function () {
                                    return this.value.toMoney(2);
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Tasa Promedio',
                            data: Tasa,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                pointFormat: 'Tasa Promedio: <b>{point.y:.2f}%</b><br/>',
                                shared: true

                            },

                        }]
                    });
                });
            });
            $("#btnStats3").on("click", function () {
                $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboardFinaGrafico", function (data) {
                    var dias = new Array();
                    var Plazo = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.diaGrafico;
                        Plazo[i] = e.plazoPromedio;
                    });
                    $('#GraficoEstandar').highcharts({
                        colors: ['#ffa726'],
                        title: {
                            style: {
                                color: '#758697',
                                fontFamily: 'Open Sans',
                                fontSize: '15px'
                            },
                            text: '<b>Plazo Promedio</b>',
                            x: 10, //center
                            y: 5
                        },
                        subtitle: {
                            text: '',
                            x: -20,
                            y: 20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                formatter: function () {
                                    return this.value.toMoney();
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Plazo Promedio',
                            data: Plazo,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                            },

                        }]
                    });
                });
            });
            $("#btnStats4").on("click", function () {
                $.SecGetJSON(getReportalApiHost() + "api/DirectorioDashboardFinaGrafico", function (data) {
                    var dias = new Array();
                    var Spread = new Array();
                    $.each(data, function (i, e) {
                        dias[i] = e.diaGrafico;
                        Spread[i] = e.sPread;
                    });
                    $('#GraficoEstandar').highcharts({
                        colors: ['#ef5350'],
                        title: {
                            style: {
                                color: '#758697',
                                fontFamily: 'Open Sans',
                                fontSize: '15px'
                            },
                            text: '<b>Spread</b>',
                            x: 10, //center
                            y: 5
                        },
                        subtitle: {
                            text: '',
                            x: -20,
                            y: 20
                        },
                        xAxis: {
                            categories: dias
                        },
                        yAxis: [{ // Primary yAxis
                            labels: {
                                formatter: function () {
                                    return this.value.toMoney(2);
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                formatter: function () {
                                    return this.value.toMoney(2);
                                },
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }],

                        credits: { enabled: false },
                        exporting: { enabled: false },
                        legend: {
                            layout: 'horizontal',
                            align: 'left',
                            verticalAlign: 'top',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Spread',
                            data: Spread,//, data[0].Noviembre_Neto, data[0].Diciembre_Neto]
                            tooltip: {
                                pointFormat: 'Spread: <b>{point.y:.2f}%</b><br/>',
                                shared: true

                            },

                        }]
                    });
                });
            });
        });
    </script>
}
<div id="page-title">
</div>
<div class="tab-content">
    <div>
      
        <div class="panel col-lg-12">
            <span style="float:right; margin-left:auto;"><strong>*Datos actualizados al:</strong> <span id="Leyend_FechaActualizacion">Martes, 18 de Octubre de 2016</span></span>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div id="GraficoEstandar" class="morris-full-content"></div>
                </div>
            </div>
        <br />
            <br />
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="panel panel-info panel-colorful" id="btnStats">
                        <div class="pad-all">
                            <span class="text-bold">Colocaciones Brutas M$</span>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idBrutoHoy">M$0</span>
                                Hoy
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idBrutoAnt">0</span>
                                Ayer
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idBrutoAcumulado">0</span>
                                Acumulado
                            </p>
                        </div>
                        <div class="pad-all">
                            <ul class="list-group list-unstyled">
                                <li class="mar-btm">
                                    <span class="pull-right text-bold" id="progresBruta1">0%</span>
                                    <p>Cumplimiento</p>
                                    <div class="progress progress-md">
                                        <div id="progresBruta" style="width: 0%;" class="progress-bar progress-bar-light">
                                            <span class="sr-only">0%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div style="background:#8bc34a; color:#fff" id="btnStats1">
                        <div class="pad-all">
                            <span class="text-bold">Colocaciones Netas M$</span>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idNetoHoy">0</span>
                                Hoy
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idNetoAnt">0</span>
                                Ayer
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idNetoAcumulado">0</span>
                                Acumulado
                            </p>
                        </div>
                        <div class="pad-all">
                            <ul class="list-group list-unstyled">
                                <li class="mar-btm">
                                    <span class="pull-right text-bold" id="progresNeta1">15%</span>
                                    <p>Cumplimiento</p>
                                    <div class="progress progress-md">
                                        <div id="progresNeta" style="width: 0%;" class="progress-bar progress-bar-light">
                                            <span class="sr-only">0%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <div class="panel panel-purple panel-colorful" id="btnStats2">
                        <div class="pad-all">
                            <p class="text-bold">Tasa Promedio</p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idTasaHoy">0</span>
                                Hoy
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idTasaAyer">0</span>
                                Ayer
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idTasaAcumulado">0</span>
                                Acumulado
                            </p>
                        </div>

                    </div>

                </div>
                <div class="col-sm-2 col-lg-2">
                    <div class="panel panel-warning panel-colorful" id="btnStats3">
                        <div class="pad-all">
                            <p class="text-bold">Plazo Promedio</p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idPlazoHoy">0</span>
                                Hoy
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idPlazoAyer">0</span>
                                Ayer
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idPlazoAcumulado">0</span>
                                Acumulado
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-2 col-lg-2">
                    <!--Sparkline pie chart -->
                    <div class="panel media middle panel-colorful panel-danger" id="btnStats4">
                        <div class="pad-all">
                            <p class="text-bold">Spread</p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idSpreadHoy">0</span>
                                Hoy
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idSpreadAyer">0</span>
                                Ayer
                            </p>
                            <p class="mar-no">
                                <span class="pull-right text-bold" id="idSpreadAcumulado">0</span>
                                Acumulado
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
