
@{
    ViewBag.Title = "Pruebas";
    Layout = "~/Views/Layout/_Principal_Dynamic.cshtml";
}


@section script{

<script>
    $(function () {

        //$.SecPostJson(getApiHost() + "api/Auth/draw-user-resources", function (response) {
        //    console.log(response);
        //});
    });

</script>


}


<h2>Pruebas</h2>

