
@{
    ViewBag.Title = "Campañas - Inicio";
    Layout = "~/Views/Layout/_Principal.cshtml";
    ViewBag.ActiveMenu = "gestión";
    ViewBag.ActiveMenuRoot = "campañas";
}

@section script{



    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>

    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script type="text/javascript">
                $(document).ready(function() {
                    $('#datatable').dataTable({
                        ajax: {
                            url : "http://localhost:8080/api/campanias",
                            dataSrc: ''
                        },
                        columns: [

                            { data: "Periodo" },
                            { 
                                data: "Nombre",
                                fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                    $(nTd).html("<a href='/Reportal/Campañas/DetalleCampania/"+oData.Id+"/'>"+oData.Nombre+"</a>");
                                }
                            },
                            { data: "Concepto"},
                            { data: "CanalEmail" },
                            { data: "CanalSMS" },
                            { data: "CanalLlamada" },
                            { data: "SubConcepto" },
                            { data: "CantidadNomina" }
                        ],
                        columnDefs: [
                            {
                                "render": function (data, type, row)
                                {
                                    return (data === true) ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span>';
                                },
                                "targets": [3,4,5]
                            }

                        ]
                    });
                } );
    </script>

}

@section css{
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

}


<div class="container">


    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Listado de Campañas</h4>
            <ol class="breadcrumb">
                <li><a href="#">Portal de Informacion</a></li>
                <li><a href="#">Campañas</a></li>
                <li class="active">Listado de Campañas</li>
            </ol>
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Email</th>
                        <th>SMS</th>
                        <th>Call</th>
                        <th>Segmento</th>
                        <th>Cantidad Afiliados</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
    



    





</div> <!-- container -->